---
import MediaCarousel from "./MediaCarousel.astro";

const {
	item,
	index,
	galleryId
} = Astro.props;
---

<article class="gallery-card">

	{item.title && (
		<h3>
			{item.title}
		</h3>
	)}

	<MediaCarousel
		media={item.media ?? []}
		galleryId={galleryId}
		itemIndex={index}
	/>

	{item.caption && (
		<p>
			{item.caption}
		</p>
	)}

</article>


<style>
.gallery-card {
	overflow:hidden;
}
</style>

